/* Assure que le corps prend toute la hauteur */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

/* Style pour le header */
.header {
  background-color: #e41b1b;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed; /* Rendre le header fixe */
  top: 0; /* Positionner en haut */
  left: 0; /* Positionner à gauche */
  width: 100%; /* Prendre toute la largeur de l'écran */
  z-index: 1000; /* Assurer que le header est au-dessus du contenu */
}

/* Style pour le conteneur des boutons */
.header-nav {
  display: flex;
  gap: 10px; /* Corriger l'espacement entre les boutons */
}

/* Ajoute un padding-top au body pour éviter que le contenu soit caché derrière le header */
body::before {
  content: "";
  display: block;
  height: 80px; /* Ajuste cette hauteur selon la hauteur réelle de ton header */
}

/* Style pour chaque bouton */
.button-header {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.button-header:hover {
  color: #e8e8e8;
}

.button-header:hover::before {
  width: 100%;
}


/* From Uiverse.io by faxriddin20 */ 
.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; /* Distribue l'espace entre les éléments */
  align-items: center; /* Aligne les éléments verticalement au centre */
  padding: 20px;
  margin-top: auto;  /* Permet au footer d'être poussé au bas du container */
  background-color: #333; /* Ajoute une couleur de fond pour que le texte soit visible */
}

.footer-content {
  display: flex;
  justify-content: center; /* Centre le texte au milieu */
  flex: 1; /* Permet à cette div de prendre autant d'espace que possible */
}

.footer-list {
  flex: 1; /* Permet à cette div de prendre autant d'espace que possible */
  display: flex;
  justify-content: flex-start; /* Aligne la liste à gauche */
}

.footer-list ul {
  list-style: none; /* Enlève les puces */
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-right: 50px; /* Espace entre les éléments de la liste */
  color: white;
}

/* From Uiverse.io by adamgiebl */ 
.button-devis {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e41b1b;
  transition: all 500ms;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #e41b1b;
}

.button-devis:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 2px solid #e41b1b;
  box-shadow: 2px 3px 10px -2px #e41b1b;
}

.button-devis::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #e41b1b;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 500ms;
}

.button-devis:hover::before {
  width: 200%;
}

.section-devis {
  display: flex; /* Utiliser Flexbox */
  align-items: center; /* Aligner les éléments au centre verticalement */
  justify-content: flex-end
}